<br/>
<div align="center">
  <div class="card navbar-custom"  style="width: 18rem;">
    <div class="card-body">
      <h1 class="card-title">
        Top 40 Movies
      </h1>
    </div>
  </div><br/><br/>
  <% @movies.each_with_index do |movie, index| %>
    <div id="movies-<%= index %>" class="card navbar-custom"  style="width: 30rem;">
      <div class="card-body">
        <h5 class="card-title">
          #<%= "#{index + 1}" %>
        </h5>
        <h5 class="card-title">
          <%= link_to "#{movie.title}", movie_path(movie), class: "btn btn-sm btn-dark navbar-custom blacktext", params: { title: "#{movie.title}" }%>
        </h5>
        <h6 class="card-subtitle mb-2">
          Rating: <%= movie.vote_average %>
          </h6>
      </div>
    </div>
    <br/>
  <% end %>
</div>
